@media (max-width: 430px) {
  .col-8.offset-2 {
    width: 90% !important;
    margin-left: 5% !important;
    max-width: 100% !important;
  }

  #map {
    width: 100% !important;
    height: 300px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .form-control,
  .form-select {
    width: 100% !important;
  }

  .row {
    margin-left: -10px !important;
    margin-right: -10px !important;
  }

  .row > [class*="col-"] {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

@media (min-width: 431px) and (max-width: 768px) {
  .col-8.offset-2 {
    width: 85% !important;
    margin-left: 7.5% !important;
  }

  #map {
    height: 350px !important;
  }
}
