<% layout("/layout/boilerplate") %>
<div class="signup-page row mt-3">
  <div class="col-10 offset-1 col-md-6 offset-md-3">
    <h1 class="heading mb-4">Welcome to WanderLust !</h1>
    <form action="/signup" method="post" class="needs-validation" novalidate>
      <div class="inputs mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          name="username"
          placeholder="Choose a username"
          id="username"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter a username.</div>
        <div class="valid-feedback">Looks Good!</div>
      </div>
      <div class="inputs mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          name="email"
          placeholder="Enter your email"
          id="email"
          type="email"
          class="form-control"
          required
        />
      </div>
      <div class="inputs mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          name="password"
          placeholder="Create a password"
          id="password"
          type="password"
          class="form-control"
          required
        />
      </div>
      <div class="submit">
        <button class="btn btn-dark mb-3 add-btn">Signup</button>
      </div>
    </form>
  </div>
</div>
